*{
    margin: 0;
    padding: 0;
}


html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;
    scroll-behavior: smooth; 

}

.title{
    text-align: center;
}

#name{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 800;
    font-size: 30px;
}
#subName{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 600;
    font-size: 25px;
    color: rgb(63, 161, 128);
}
.about{
    text-align: center;
}

#about1{
    margin-top: 10%;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 300;
    font-size: 15px;
}

#about2{
    margin-top: 10%;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 300;
    font-size: 15px;}

.aboutContainer{
    background-color: white;
    height: 100%;
    justify-content: center;
    align-items: center; 
    padding: 5% 10%; 
    margin-right: 22%;
    margin-left: 22%;
    
}


#homebutton{
    margin-top: 10%;
    margin-left: 40%;
}

#homebutton:hover{
    transition: transform 0.3s ease-in-out; 
    cursor:url('photos/worm2.png'),pointer !important;
    transform: scale(1.2);
}