*{
    margin: 0;
    padding: 0;
    border: 1px solid red; 
}

html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;
    scroll-behavior: smooth; 

}

.nav{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;

    grid-template-rows: 5% 5% 28% 4% 5% 20% 4% ;
    justify-items: center;
    padding: 30px 10px;
    background-color: beige;
}

.nav div{
    scroll-margin-top: 20vh;
}

.navbar{
    grid-row: 1;
    grid-column: span 3;

}
.projectssem1{
    grid-row: 3;
    grid-column: span 3;
}
#buttons{
    grid-row: 4;
    grid-column: 2;

    justify-items: center;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;

    background-color: aquamarine; 
    padding: 20px 30px;  
    border-radius: 30px;      
}

.projectssem2{
    margin-top: 3%;
    grid-row: 6;
    grid-column: span 3;
    justify-items: center;
}



#buttons1{
    grid-row: 7;
    grid-column: 2;

    justify-items: center;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;

    background-color: aquamarine; 
    padding: 20px 30px;  
    border-radius: 30px;      
}
.text{
    display: inline;
    grid-column: span 3;
    text-align: center;

}
.text a{

    justify-items: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    height: 100vh;
    text-decoration: none;
    color:rgb(0, 106, 90);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;

}



.intro{
    margin-top: 3%;
    font-size: 80px;
    text-align: center;
    justify-items: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: rgb(0, 106, 90);
}

#sub4{
    width: 380px; 
    height: 500px; 
    background-image: url("photos/ProR.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

#sub4:hover{
    background-image: url("photos/ProRa.png");
 
}

.titles{
    grid-column: 2;
    color:rgb(0, 106, 90);
    justify-items: center;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 20px;
    font-weight: 800;

}

#title1{
    grid-row: 2;
    margin-top: 3%;
 
}

#title2{
    margin-top: 13%;
}

@media screen and (max-width: 1000px) {
    .nav{
        padding: 10px; 
        grid-template-rows: auto auto auto auto auto auto auto;
    }
    .projectssem1 img{
        width: 30%;
        height: auto;
        justify-items:center;
        padding: 3px;
    }

    .text a{
        font-size: smaller;
        text-align: center;
    }
    .titles{
        font-size: smaller;
        text-align: center;
        grid-column: span 3;
    }
    #buttons{

        padding: 3px 10px;
    }
    #title1{
        margin: 0;
    }
}
