*{
    margin: 0;
    padding: 0;
}

html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;
    scroll-behavior: smooth; 

}
/* 
.radishContain{
    grid-template-columns: 50% 50%;
}

#radish{
    grid-column: 1;
    height:600px;
} */

.nav{
 
    grid-template-columns: 50% 50%;

}

.menu
{
    list-style: none;
    background-color: white;
    width: 25%;

    display: flex;
    justify-content: left;
    align-items: left; 

    padding: 0 15px;

}
