*{
    margin: 0;
    padding: 0;
}


.projectContainer div {
    scroll-margin-top: 30vh; /* moves the section down like margin, so the thing can be in the middle not all the way to top*/
}

html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;
    scroll-behavior: smooth; 

}

.radish a{
    transition: transform 0.3s ease-in-out; 
    cursor:url('photos/worm2.png'),pointer !important;
}

.radish a:hover{
    transform: scale(1.2);
    cursor:url('photos/worm2.png'),pointer !important;

}

.menu ul{
    list-style-type:none;
    background-color: white;
    position: fixed;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 46, 32);

    
}
#title{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
}
.menu li{
    padding:15px;
    display:flex;

    text-align: center;
    
    /* font-family: "Lexend Giga", serif;
    font-optical-sizing: auto; */
}
.subcat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
  
}

.subcat a{
    transition: font-size 0.3s ease-in-out; /* Smooth transition */

}
.subcat a:hover{
    font-size: 20px;
    cursor:url('photos/worm2.png'),pointer !important;
}



#name{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 6.5px;
}


.projectContainer{
    padding: 80px;
    display:grid;
    grid-template-columns: 25% 35% 25%;
    row-gap: 10%;
    margin-bottom: 20%;
}

.projtitle{
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
}

#project1{
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

}
#text1{
    grid-column-start: 2;
}

#project2{
    grid-row-start:2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text2{
    grid-column-start: 2;
}

#project3{
    grid-row-start:3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text3{
    grid-column-start: 2;
}

#project4{
    grid-row-start:4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text4{
    grid-column-start: 2;
}

.bottom{
   padding: 5%;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 6.5px;
    position: relative;
}

.projdescrip{
    margin-top: 5%;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 10px;
}


@media screen and (max-width: 1000px) {
    .menu ul{
        flex-direction:row; /* turns the vav bar inti row instead cokumn*/
        height: 40px; /* white rect snaller */
        width: 100%;
        justify-content: center;
        padding: 5px 0; 

        display:grid;
        grid-template-columns: 20% 20% 20% 20% 20%; 
        grid-template-rows: 50% 45% 5%;
        padding: 3%;
        
    }

    .menu li {
        margin: 0 9px; 
  }

    #title{
        font-size: 18px;

        grid-column: span 6;
        grid-row: 1;
        justify-content: center;
    }

    .subcat{
        grid-row: 3;
        grid-column-start:2;
        font-size: 11px;

    }
    #subcat1{
        grid-column:2;
    }

    #subcat2{
        grid-column:3;
    }

    #subcat3{
        grid-column:4;
    }

    #subcat4{
        grid-column:5;
    }

    .subcat a:hover{
        font-size: 11.5px;
    }

    #name{
 
        visibility: hidden;
     }

    .radish img {
        margin-top: -20px;
        width: 60%; 
        height: auto;
        overflow: hidden;
    }

    .projectContainer {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
        padding: auto;
    }
       .projtext {
        order: 2; 
        text-align: center;
    }

    .projimg {
        order: 1; 
    }
}
