*{
    margin: 0;
    padding: 0;
}


html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;

}

#radish{

    cursor:url('photos/worm2.png'),pointer;

}




.menu ul{
    list-style-type:none;
    background-color: white;
    position: fixed;
    justify-items: center;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */

    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 46, 32);

    
}
#title{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
}
.menu li{
    padding:15px;
    display:flex;

    text-align: center;
    
    /* font-family: "Lexend Giga", serif;
    font-optical-sizing: auto; */
}
#subcat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
  
}

#name{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
  
    font-size: 6.5px;

}


