*{
    margin: 0;
    padding: 0;
}


html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;

}

#radish{

    cursor:url('photos/worm2.png'),pointer;

}



.menu ul{
    list-style-type:none;
    background-color: white;
    position: fixed;
    justify-items: center;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */

    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 46, 32);

    
}
#title{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
}
.menu li{
    padding:15px;
    display:flex;

    text-align: center;
    
    /* font-family: "Lexend Giga", serif;
    font-optical-sizing: auto; */
}
#subcat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
  
}

#name{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
  
    font-size: 6.5px;

}


.projectContainer{
    padding: 80px;
    display:grid;
    grid-template-columns: 25% 35% 25%;
    row-gap: 10%;
    margin-bottom: 20%;
}

.projtitle{
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 15px;
}

#project1{
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

}
#text1{
    grid-column-start: 2;
    grid-column-end: 2;
}

#project2{
    grid-row-start:2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text2{
    grid-column-start: 2;
    grid-column-end: 2;
}

#project3{
    grid-row-start:3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text3{
    grid-column-start: 2;
    grid-column-end: 2;
}

#project4{
    grid-row-start:4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;

}

#text4{
    grid-column-start: 2;
    grid-column-end: 2;
}

.bottom{
   padding: 5%;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
  
    font-size: 6.5px;
    position: relative;
}

