#text1{
    color: rgb(254, 79, 108);

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 15px;

    padding: 0 10%
}

#title{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
}

body, html{
    height: 100%; 
    margin: 0;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-position: center center;
}

.sketchbox{
    position: relative; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    height: 100%;
    margin-right: 22%;
    padding: 3% 0; 
    margin-left: 22%;
}

#sketchbox{
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
}

#sketchbox2{
    width: 600px;
    height: 600px;
}

#sketchbox3{
    width: 400px;
    height: 600px;

}

#sketchbox4{
    width: 600px;
    height: 400px;

}




