*{
    margin: 0;
    padding: 0;
    /* /* border: 1px solid red;  */
}

html, body{
    cursor:url('photos/worm.png'), auto;
    background: aquamarine;
    scroll-behavior: smooth; 

    margin-left: 0%;
    margin-right: 0%;

}

.container{
    margin-left: 20%;
    margin-right: 20%;
}

/* CHALLENGES LIST AREA */
.allLinks{
    background-color: aquamarine;
}

.challenges a{


    text-decoration: none;
    color: rgb(0, 160, 112)  !important;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;

    text-align: center;
}

.challenges a:hover{

    color: rgb(0, 46, 32) !important;
    text-decoration: underline;
    transition: 0.3s;
}

.challenges ul{
    list-style: none;
    display: inline;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}

/* PROTOTYPES LIST AREA */
.prototypes a{
    text-decoration: none;
    color: rgb(0, 160, 112) !important;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px;
    
    text-align: center;
}
.prototypes ul{
    list-style: none;
    display: inline;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}

.prototypes a:hover{
    color: rgb(0, 62, 43) !important;
    text-decoration: underline;
    transition: 0.3s;
}

/*TITLE FORMAT*/
#title{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;

    margin: 20px;

    text-align: center;
}



.navBar{
    background-color: rgb(255, 239, 219);
    padding: 30px 30px;
}

.navBar ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 30px 0; 



    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.navBar a{
    text-decoration: none;
    color: rgb(0, 44, 46);
}

.navBar li{
    text-align: center;


}

.navBar:hover{
    text-decoration:underline;
    transition: 0.3s;
}

/*MAKING SCREEN SMALLER*/
@media screen and (max-width: 1000px){
    .challenges ul{
        flex-wrap: wrap;
        justify-content: center;

    }
    .challenges a{
        font-size: 20px;

    }



}

