*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: center;
    min-height: 100vh;

    position: relative;
}

#title{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 30px;
    font-weight: 800;

}

#HumorResults{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 20px;
    font-weight: 800;
}