

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: center;
    min-height: 100vh;

    position: relative;
}

.fish{
    content: '';
    position: absolute;

    animation: floatWaves 6s ease-in-out infinite;
    z-index: -1;


}

@keyframes floatWaves {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
}


#button{
    display:flex;
    position: relative;
    
    justify-content: right;
    align-items: right;
}

#TITLE{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 100px;
    font-weight: 800;
    
}

.fish-questions{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 600;
    
    line-height: 1.6;

}


#questionTitles{
    font-size: 30px;
}

@media only screen and (max-width: 1000px) {

    #TITLE{
        transition: 1s;
        color:rgb(255, 255, 255);
        font-size: 60px;

    }
    #questionTitles{
        transition: 1s;
        padding: 3%;
        font-size: 19px;
    }
    
    #TheAnswers{
        transition: 1s;
        margin-left: 3%;
        font-size: 15px;
    }

    #button{
        width: 500px;
    }
}