
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.fish{
    content: '';
    position: absolute;

    animation: floatWaves 6s ease-in-out infinite;
    z-index: -1;


}

@keyframes floatWaves {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
}

body{
    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: center;
    min-height: 100vh;

    position: relative;
}


#TITLE{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 100px;
    font-weight: 800;
    
}


.fish-questions{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-weight: 600;
    
    line-height: 1.6;
}

.titles{
    font-size: 30px;
    font-weight: 700;
}

#TheAnswers{
    font-size: 15px;
}

#pics{
    width:200px;
}

#pics1{
    width:300px;

}

#pics2{
    width:150px;
    height:200px;
}

@media only screen and (max-width: 1000px) {

    #TITLE{
        transition: 1s;
        color:white;
        font-size: 60px;

    }
    .titles{
        transition: 1s;
        padding: 3%;
        font-size: 19px;
    }
    
    #TheAnswers{
        transition: 1s;
        margin-left: 3%;
        font-size: 12px;
    }

    #button{
        width: 500px;
    }

    #pics{
        width: 140px;
    }

    #pics1{
        width:100px;
    }

    #pics2{
        width:100px;
        height:130px;

    
    }
}