*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'MyCoolFont';
    src: url('../tesphotos/tomodachi_font_by_pokemon_diamond-d82qlqz.ttf') format('truetype');
  }
  
 

body {
    font-family: 'MyCoolFont', sans-serif;

    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: rgb(203, 236, 255);
    position: relative;
}


body::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%; 
    background-image: url('../tesphotos/oceans.png');
    background-size: cover;

    animation: floatWaves 6s ease-in-out infinite;
    z-index: -1;
}

@keyframes floatWaves {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
}

.title{
   

    font-size: 70px;
    color: rgb(10, 104, 163);
      
    text-align: center;

    font-weight: 800;
}

.text{
    padding: 2%;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

    font-size: 30px;
    color: rgb(3, 51, 81);

    font-weight: 800;

    display: flex;

    justify-content: center;
    align-items: center;


    text-align: center;

    flex-direction: column;

}

#subText{
    padding: 2%;

    font-size: 20px;
    color: rgb(34, 110, 157);

}

#colors{
    font-size: 20px;
    

}
#colors1{
    padding: 2%;

    color: rgb(34, 110, 157);

    

}

.options{
    padding: 1%;
}



@media only screen and (max-width: 1000px) {
    body {
     transition-duration: 1.5s;
      background-color: rgb(9, 53, 113);
    }

    .title{
        color:rgb(163, 224, 255);
    }
   .text{
    color: rgb(0, 0, 0);

   } 
    #subText{
        color: rgb(0, 0, 0);
    }

    #colors1{

        color: rgb(0, 21, 42);
    }


  }

